﻿<div id="chatbox" style="text-align:center;height:543px;width:850px;">
    <img src="chatbox/box.png" style="">
    <div style="text-align: left; background-color: white; border-top-left-radius: 9px; border-top-right-radius: 9px; border-bottom-right-radius: 9px; border-bottom-left-radius: 3px; position: relative; top: -480px; width: 830px; height: 391px; left: 8px;">message log here...</div>
    <textarea style="border-top-left-radius: 9px; border-top-right-radius: 9px; border-bottom-right-radius: 9px; border-bottom-left-radius: 9px; position: relative; top: -471px; width: 700px; left: -3px; height: 65px;">write new messages here</textarea>
    <img src="chatbox/send.png" id="SendClick" style="position: relative; top: -475px;">
</div>
