﻿body {
    background-color: #222c35;
}

#Logo {
    position: relative;
    padding-left: 400px;
    padding-top: 20px;
}

.login-button a, .Register a, .logout-button a {
    font-size: 11px;
    padding: 10px 15px 10px;
    font-weight: bold;
    font-family: helvetica, arial, sans-serif;
    color: white !important;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #1A4877;
    line-height: 30px;
    text-decoration: none !important;
    margin-right: 15px;
    margin-top: 10px;
}

#LogoGradient {
    width:960px;
    height:350px;
    background:url('Images/light.png') no-repeat bottom;
    margin:0 auto;
    text-align:center;
    margin-top: -330px;
}

#MenuBar {
    position: relative;
    width: 100%;
    height:73px;
    background:url('Images/menubg.png') repeat-x;
}

#MenuBar a {
    position: relative;
    float: left;
    padding-top: 25px;
    padding-left: 70px; /*Ändra denna sedan för länkarna*/
    left: 160px;
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}

#MenuBar a:hover {
    background:url('Images/hover.png') no-repeat; 
    background-size:100% 70px;
}

#ContentFeed {
    position: relative;
    left: 16%;
    width: 960px;
    height: 600px;
    top: 3px;
    border-bottom: 1px solid #333f48;
    border-left:  1px solid #333f48;
    border-right:  1px solid #333f48;
    margin-top: -5px;
    background-color: #1e242b;
}

#LeftBar{
    background-image:url(Images/leftbar.png);
    background-repeat:repeat-y;
}

#RightBar {

}


#Featured {
    display: block;
    position: relative;
    padding-top: 20px;
    margin-left: 690px;
}

/*#PolygonLeftRectangle {
    width: 0;
    height: 0;
    border-right: 100px solid orange;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
}*/

#Phallosan {
    display: block;
    position: relative;
    margin-left: 665px;
    padding-top: 15px;
}



#Bathmate {
    display: block;
    position: relative;
    padding-top: 40px;
    margin-left: 725px;
}

#Footer {
    position: relative;
    margin-left: 225px;
    border: 1px solid #333f48;
    background: #16191b;
    width: 960px;
    height:30px;
    bottom: -1px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#Footer a{
    position: relative;
    float: left;
    color: #4f5356;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    padding-left: 20px;
    padding-top: 4px;
    left: 10px;
}

#Footer a:hover {
    text-decoration: underline;
}

#Copyright {
    text-align: right;
    padding-top: 4px;
    color: #4f5356;
    font-weight: bold;
    padding-right: 100px;
}

#BookMarkMove {
    position: relative;
    top: -285px;
    right: 730px;
    color: aquamarine; /* Old browsers */
}

html {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

#SendClick:active {
    background-image:url()
}